@tailwind base;
@tailwind components;
@tailwind utilities;

.text-mukta {
    font-family: 'Mukta', sans-serif;
}
.left-menu-selection {
    background: rgba(255, 255, 255, 0.08);
}
.left-menu-selection-selected {
    box-shadow: 0 -6px 0 rgba(255, 255, 255, 0.08) inset;
    background: rgba(255, 255, 255, 0.08);
}
.left-menu-hover:hover {
    background: rgba(255, 255, 255, 0.10);
}
.break-properly {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

#left-panel {
    background: url("/pictures/left-panel-background.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
#main-panel {
    -webkit-background-size: cover;
    background-size: cover;
    background: url("/pictures/background.png") no-repeat fixed center center;
}
#bottom-panel {
    background: rgb(5,64,89);
    background: linear-gradient(90deg, #054059 0%, rgba(4,73,87,1) 35%, rgba(0,95,80,1) 100%);
}
*::-webkit-scrollbar-corner  {
    display: none;
}
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-thumb {
    background: #053e5a;
    border-radius: 2px;
}

#sound-progressbar {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #131313;
}
#sound-progressbar::-webkit-slider-runnable-track {
    height: 0.75rem;
    -webkit-appearance: none;
    color: #13bba4;
    border-radius: 50%;
}

#sound-progressbar::-webkit-slider-thumb {
    width: 0.75rem;
    height: 0.75rem;
    -webkit-appearance: none;
    background: #097b83;
    border-radius: 50%;
    box-shadow: -80px 0 0 80px #097b83;
}

#music-progress {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: transparent;
}

#music-progress::-webkit-slider-runnable-track {
    height: 0.25rem;
    -webkit-appearance: none;
    color: #13bba4;
    border-radius: 50%;
}

#music-progress::-webkit-slider-thumb {
    width: 0.25rem;
    height: 0.25rem;
    -webkit-appearance: none;
    background: #097b83;
    border-radius: 50%;
    box-shadow: -200vw 0 0 200vw #097b83;
}